body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bg-medium-light {
    background-color: #dadada;
}

.table-header {
    border-bottom: 1px solid #111;
    vertical-align: middle !important;
    white-space: nowrap;
    --bs-table-bg: transparent;
}

.table-body {
    vertical-align: middle !important;
    white-space: nowrap;
}

.link {
    cursor: pointer;
}

button.add {
    color: #0000ff;
    border: none;
    background-color: transparent;
}

button.delete {
    color: #ff0000;
    border: none;
    background-color: transparent;
}

input.textbox {
    border: 1px #9ec6ff solid;
}